name: build-drawdb

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build project
        env:
          NODE_OPTIONS: --max-old-space-size=4096
        run: npm run build

      - name: Upload dist
        uses: actions/upload-artifact@v4
        with:
          name: drawdb-dist
          path: dist
